.filter-list-container {
    width: 100%;
    background-color: var(--main-gray);
    border-radius: 2px;
}

.list-container, .filter-list-wrapper {
    margin: 0 auto;
    max-width: 90%;
    padding: 10px 5px;
}

.filter-list-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    padding: 10px 18px;
}

.list-item-container {
    position: relative;
    padding: 15px 18px;
    border: 1px solid var(--main-gray);
    border-radius: 2px;
    margin: 10px 0;
}

.list-item-container > p {
    margin: 10px 0;
}

.list-item-container:first-of-type {
    margin-top: 1px;
}

.list-item-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    margin: 0 0 10px 0;
}

.list-item-header > a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: var(--second-gray);
}

.list-item-list {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-item-list > li:last-of-type {
    flex: 0 auto;
    text-align: center;
}

.sort-btn {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}

.sort-btn > p {
    margin-right: 4px;
}

.loader-container {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .list-container {
        max-width: 750px;
    }

    .filter-list-wrapper {
        /* max-width: 450px; */
        margin: 0 0 0 auto;
    }

    .list-item-header {
        flex-direction: row;
    }

    .list-item-list > li:last-of-type {
        flex: 0.7;
        text-align: right;
    }

}

@media (min-width: 1200px) {


}
