.dropdown-list {
    z-index: 99;
    position: absolute;
    left: 0;
    width: 270px;
    height: 50vh;
    overflow-y: scroll;
    border: 1px solid var(--main-gray);
    border-radius: 3px;
    background-color: #ffffff;
}

.search-input {
    width: 90%;
    display: block;
    border: 1px solid var(--main-gray);
    border-radius: 3px;
    margin: 10px auto;
    padding: 5px 2px;
}

.dropdown-header-title {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

